extends ../../../view/main
append blockCss
    +link('/css/md/admin.min.css')
append blockJavascript
    script
        include ./bin/frontend.min.js
mixin addRound1Question(index)
    td(data-value=index)
        p.float-left(style='margin-left:6px') #{index}
        a.text-warning(href='#' onclick='$$.admin.round1Do(this, "send"); return false')
            i.material-icons backup
        a.text-danger(href='#' onclick='$$.admin.round1Do(this, "show"); return false')
            i.material-icons remove_red_eye
        br
        a.text-primary(href='#' onclick='$$.admin.round1Do(this, "start"); return false')
            i.material-icons play_circle_outline
        a.text-success(href='#' onclick='$$.admin.round1Do(this, "pause"); return false')
            i.material-icons pause_circle_outline
        a.text-info(href='#' onclick='$$.admin.round1Do(this, "restart"); return false')
            i.material-icons refresh
        br
        a.text-danger(href='#' onclick='$$.admin.round1Do(this, "result"); return false')
            i.material-icons report
append blockMain
    #adminContainer.container-fluid(role='tablist' aria-multiselectable='true')
        .float-left(style='display:inline-flex')
            | Screen:&nbsp;
            .btn-group(data-toggle='buttons')
                label.btn.btn-primary(onclick='$$.admin.selectScreen("point"); return false')
                    input.round1Screen#round1ScreenPoint(type='radio' name='options' autocomplete='off')
                    | Point
                label.btn.btn-primary(onclick='$$.admin.selectScreen("question"); return false')
                    input.round1Screen#round1ScreenQuestion(type='radio' name='options' autocomplete='off')
                    | Question
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            | Round:&nbsp;
            .dropdown
                button#menuRound.btn.btn-secondary.dropdown-toggle.text-primary(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') ...
                .dropdown-menu(aria-labelledby='menuRound')
                    a.dropdown-item(href='#' data-value=0 onclick='$$.admin.selectRound(this); return false') Chưa thi
                    a.dropdown-item(href='#' data-value=1 onclick='$$.admin.selectRound(this); return false') Thủ lĩnh trí tuệ
                    a.dropdown-item(href='#' data-value=2 onclick='$$.admin.selectRound(this); return false') Thủ lĩnh tài năng
                    a.dropdown-item(href='#' data-value=3 onclick='$$.admin.selectRound(this); return false') Thủ lĩnh nhạy bén
                    a.dropdown-item(href='#' data-value=4 onclick='$$.admin.selectRound(this); return false') Tôi là thủ lĩnh
                    a.dropdown-item(href='#' data-value=5 onclick='$$.admin.selectRound(this); return false') Kết thúc
        span.badge.badge-pill.badge-default.float-right#userStatus0 MC
        a(href='#' onclick='$$.admin.setAllPoints(0); return false')
            span.badge.badge-pill.badge-default.float-right(style='margin-right:6px') Clear point
        a(href='#' onclick='$$.admin.setAllPoints(10); return false')
            span.badge.badge-pill.badge-success.float-right(style='margin-right:6px') Set 10 points
        a(href='#' onclick='$$.admin.addAllPoints(); return false')
            span.badge.badge-pill.badge-danger.float-right(style='margin-right:6px') Add all points
        table.table.table-bordered.table-sm#userTable
            tbody
                - for (var index = 1; index <= 10; index++)
                    if (index % 5 == 1)
                        tr
                    td(style='width:20%; position:relative')
                        - var elementId = index < 10 ? '0' + index: index;
                        img(src='/img/user/' + elementId + '.png')
                        span.badge.badge-pill.badge-default(id='userStatus' + index style='position:absolute; left:6px; top:6px') #{index}
                        span.badge.badge-pill.badge-primary(id='userPoint' + elementId style='position:absolute; left:6px; top:26px')
                        span.badge.badge-pill.badge-info(id='userQuestion' + elementId style='position:absolute; left:6px; top:46px')
                        a(href='#' onclick='$$.admin.startRound2("' + elementId + '"); return false' style='position:absolute; right:6px; top:6px')
                            span.badge.badge-pill.badge-default.button-start2(id='userRound2' + elementId) Round 2
                        .point-box
                            table
                                tbody
                                    tr(data-username=elementId)
                                        td(style='width:auto')
                                            a.text-danger(href='#' onclick='$$.admin.setPoint(this, -1); return false')
                                                i.material-icons do_not_disturb_on
                                        td(style='width:100%')
                                            input.form-control.userDeltaPoint(type='text' id='userDeltaPoint'+elementId style='text-align:center' value=0)
                                        td(style='width:auto')
                                            a.text-primary(href='#' onclick='$$.admin.setPoint(this, +1); return false')
                                                i.material-icons add_circle
                    if (index == 5)
                        tr
                            td(colspan=5) &nbsp;
        .card
            #heading1.card-header(role='tab')
                a(data-toggle='collapse' data-parent='#adminContainer' href='#collapse1' aria-expanded='true' aria-controls='collapse1')
                    | THỦ LĨNH TRÍ TUỆ
                span.float-right#round1QuestionIndex
            #collapse1.collapse.show(role='tabpanel' aria-labelledby='heading1')
                .card-block
                    .float-left.time-box
                        | Time (second):
                        input#roundTime1.form-control(type='text')
                        a.text-primary(href='#' onclick='$$.admin.setTime(1); return false')
                            i.material-icons save
                    table.table.table-bordered.table-sm#round1Table
                        tbody
                            tr
                                - for (var i = 1; i <= 10; i++)
                                    +addRound1Question(i)
                            tr
                                - for (var i = 11; i <= 20; i++)
                                    +addRound1Question(i)
                            tr
                                - for (var i = 21; i <= 25; i++)
                                    +addRound1Question(i)
        .card
            #heading2.card-header(role='tab')
                a.collapsed(data-toggle='collapse' data-parent='#adminContainer' href='#collapse2' aria-expanded='false' aria-controls='collapse2')
                    | THỦ LĨNH TÀI NĂNG
                a(href='#' onclick='$$.admin.stopRound2(); return false')
                    span.badge.badge-pill.badge-danger.float-right Stop round 2
                a(href='#' onclick='$$.admin.startRound2("0"); return false')
                    span.badge.badge-pill.badge-default.float-right Clear round 2
            #collapse2.collapse(role='tabpanel' aria-labelledby='heading2')
                .card-block
                    .float-left.time-box
                        | Time (second):
                        input#roundTime2.form-control(type='text')
                        a.text-primary(href='#' onclick='$$.admin.setTime(2); return false')
                            i.material-icons save
                    | <br>TODO 2
        .card
            #heading3.card-header(role='tab')
                a.collapsed(data-toggle='collapse' data-parent='#adminContainer' href='#collapse3' aria-expanded='false' aria-controls='collapse3')
                    | THỦ LĨNH NHẠY BÉN
            #collapse3.collapse(role='tabpanel' aria-labelledby='heading3')
                .card-block
                    .float-left.time-box
                        | Time (second):
                        input#roundTime3.form-control(type='text')
                        a.text-primary(href='#' onclick='$$.admin.setTime(3); return false')
                            i.material-icons save
                    table.table.table-bordered.table-sm#round3Table
                        tbody
                            tr
                                - for (var i = 1; i <= 4; i++)
                                    td(style='width:25%; text-align:center')
                                        .point-box
                                            table
                                                tbody
                                                    tr(data-username=elementId)
                                                        td(style='width:100%')
                                                            input.form-control(type='text' id='round3User'+i style='text-align:center')
                                                        td(style='width:auto')
                                                            a.text-primary(href='#' onclick='$$.admin.setRound3User('+i+'); return false')
                                                                i.material-icons save
        .card
            #heading4.card-header(role='tab')
                a.collapsed(data-toggle='collapse' data-parent='#adminContainer' href='#collapse4' aria-expanded='false' aria-controls='collapse4')
                    | TÔI LÀ THỦ LĨNH
            #collapse4.collapse(role='tabpanel' aria-labelledby='heading4')
                .card-block
                    .float-left.time-box
                        | Time (second):
                        input#roundTime4.form-control(type='text')
                        a.text-primary(href='#' onclick='$$.admin.setTime(4); return false')
                            i.material-icons save
                    table.table.table-bordered.table-sm#round4Table
                        tbody
                            tr
                                - for (var i = 1; i <= 2; i++)
                                    td(style='width:25%; text-align:center')
                                        .point-box
                                            table
                                                tbody
                                                    tr(data-username=elementId)
                                                        td(style='width:100%')
                                                            input.form-control(type='text' id='round4User' + i style='text-align:center')
                                                        td(style='width:auto')
                                                            a.text-primary(href='#' onclick='$$.admin.setRound4User(' + i + '); return false')
                                                                i.material-icons save